body {
    margin: 0;
    background-color: rgb(24, 23, 23);
    color: gainsboro;
    font-family: "Open sans", helvetica, arial;

}

a{
    color: white;
}
a:hover {
    color: darkorange;
}
a:visited {
    color: gainsboro;
}

h1 {
    color: darkorange;
}
section {
    padding: 10px;
}
#logo {
    width: 4rem;
}
#siteTitle {
    display: inline-block;
    color: darkorange;
    margin-bottom: 0rem;
    /* vertical-align: top; */
}
#siteHead {
    padding-top: 10px;
    text-align: center;
    background-image: url("assets/img/picture.1570007820.jpg");

}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: darkorange;
    color: #333;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #333;
    color: darkorange;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav > .right {
    float : right;
}


aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 2px 0px 0px 0px #ec6800;
    font-style: italic;
    color: #ec6800;
}

aside > p {
    margin: .5rem;
}